.l-container {
    margin: 0 auto;
    max-width: 95%;
    @include mq('pc') {
        max-width: 1300px;        
    }
    @include mq('sp') {
        max-width: 93%;
    }
    &.-forWide {
        @include mq('sp') {
            max-width: 100%;
        }
    }
    &.-narrow {
        width: 90%;
    }

    &.-forSub {
        width: 87%;
        @include mq('pc') {
            max-width: 1185px;
        }

        @include mq('sp') {
            width: 93%;
        }
    }

    &.-forNarrow {
        width: 85%;
        @include mq('pc') {
            max-width: 1000px;
        }

        @include mq('sp') {
            width: 93%;
        }
    }

}
