.c-button {
    display:inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid $button-color;
    border-radius: 30px;
    padding: 10px 25px;
    position: relative;
    transition: 0.5s;

    &:hover {
        box-shadow: none;
        background-color: $button-color;
        color: #fff;
        transition: 0.5s;
        bottom: 10px;
        background-size: contain;
    }
}