.c-button {
    display:inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid $button-color;
    border-radius: 35px;
    padding: 15px 25px;
    position: relative;
    transition: 0.5s;

    @include mq('sp') {
        font-size: 1em;
        padding: 10px 20px; 
    }

    &:hover {
        box-shadow: none;
        background-color: $button-color;
        color: #fff;
        transition: 0.5s;
        background-size: contain;
    }

    &.-pplus {
        padding: 25px 50px;
        border-radius: 45px;
    }
}