.c-title {
  font-size: 2.375em;
  font-weight: normal;
  display: block;
  position: relative;

  @include mq('sp') {
      font-size: 1.5em;
  }

    &::before {
        content: attr(title);
        position:absolute;
        height: 100%;
        font-size: 6.875rem;
        font-family: $en-font;
        opacity: 0.1;
        bottom: 90px;

        @include mq('sp') {
            font-size: 4.375rem;
            bottom: 50px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(./img/title_bg.svg);
        background-size: contain;
        width: 217px;
        height: 100%;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

}
