#js-floating {
  opacity: 1;
  transition: 0.5s;
}

#js-floating.hidden {
  opacity: 0;
  visibility: hidden; //topscrollボタン押下出来ないため opacity + visibility 追加
  transition: 0.5s;
}

.slide-dots {
  text-align: center;
  li {
    display: inline-block;
    margin: 10px 15px;
    button {
      position: relative;
      text-indent: -9999px;

      &:before {
        content: '';
        background-color: #fff;
        width: 10px;
        height: 10px;
        border: 2px solid $color-gold;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
      }
    }

  }
}

.slide-dots .slick-active {
  transition: 0.2s;
  transform: scale(1.15,1.15);
  background-color: $color-gold;
}
.slide-dots .slick-active button:before {
  background-color: $color-gold;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.prev-arrow {
  left: 0;
  z-index: 10;
}

.next-arrow {
  right: 0;
}

.mw_wp_form_confirm .input-show {
  display: none;
}

.mw_wp_form .error {
  font-size: 100%!important;
  color: $color-white!important;
  display: inline-block!important;
  background-color: red;
  font-weight: bold;
}

#formTanpinSelect,
#formCourseSelect {
  display: none;
}
#formTanpinSelect.-show,
#formCourseSelect.-show {
  display: block;
}
