.p-header {

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    &__navigation{
        margin-top: 20px;

        &-flex {
            display:flex;

            li {
                padding-top: 2px;
                margin-right: 29px;
                letter-spacing: 0.05em;

                &:last-child {
                    padding-top: 0;
                }
            }
        }

        &-button {
            border: 2px solid $color-blue;
            padding: 2px 15px;

            a {
                color: $color-blue;
            }
            
        }
    }
}