.p-introduction {
    &__flex {
        display: flex;
        justify-content: center;
        margin: 5em auto;

        @include mq('sp') {
            display: block;
            background: url(./img/sp/img_02.png);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            margin: 3em auto 1em;
        }

    &.-rows {
        @include mq('sp') {
            background: url(./img/sp/img_03.png);
        }
    }

    }

    &__left {
        width: 100%;
        img {
            display: block;
            margin: 0 3.5em 0 auto;

            @include mq('sp') {
                width: 100%;
            }
        }
    }

    &__right {
        width: 100%;
        margin-left: 3.5em;
        position: relative;

        @include mq('sp') {
            margin: 0;
        }

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: rgba(255,243,246, 0.6);
            width: 100%;
            height: 70%;
            z-index: -1;
            top: 15%;
            right: 20%;

            @include mq('sp') {
                width: 0%;
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: rgba(240,236,225, 1);
            width: 100%;
            height: 70%;
            z-index: -2;
            top: 20%;
            right: 17%;

            @include mq('sp') {
                width: 0%;
                display: none;
            }
        }
    }

    &__right.-rows {
        margin-left: 0;
        width: 100%;

        img {
            @include mq('sp') {
                width: 100%;
            }
        }

        &:after {
            display:none;
        }
        &:before {
            display: none;
        }
    }

    &__left.-rows {
        width: 100%;
        padding-left: 10%;
        position: relative;

        @include mq('sp') {
            padding-left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: rgba(255,243,246, 0.6);
            width: 100%;
            height: 70%;
            z-index: -1;
            top: 15%;
            left: 12%;

            @include mq('sp') {
                width: 0%;
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            display: inline-block;
            background-color: rgba(240,236,225, 1);
            width: 100%;
            height: 70%;
            z-index: -2;
            top: 20%;
            left: 9%;

            @include mq('sp') {
                width: 0%;
                display: none;
            }
        }
    }

    &__title {
        font-size: 3.625em;
        font-weight: normal;
        padding-top: 1em;

        @include mq('sp') {
            font-size: 2em;
            color: $color-white;
            padding-left: 3%;
        }
    }

    &__middle {
        padding-top: 4em;

        @include mq('sp') {
            padding-top: 0.5em;
            color: $color-white;
            padding-left: 3%;
        }

        &-text {
            font-size: 1.125em;
        }
    }

    &__bottom {
        padding-top: 7em;

        @include mq('sp') {
            padding-top: 2em;
            padding-bottom: 2em;
            text-align: center;
        }
    }

    &__button {
        background-color: $bg-color;
    }
}