.p-mv {
  position: relative;
  top: 7px;

  @include mq('sp') {
    &:before {
      position: absolute;
      content: "";
      background-image: url(./img/header_line.png);
      content: '';
      width: 100%;
      height: 115%;
      background-position: center;
      background-size: 250%;
      top: -57%;
      z-index: 5;
    }
  }

  &__slide {
    width: 100%;
  }

  &__wrapper {
    position: absolute;
    content: "";
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    @include mq('sp') {
      width: 90%;
      transform: none;
      top: 10%;
      left: 0;
      padding-left: 5%;
    }

    @include mq('small') {
      width: 90%;
    }
  }

  &__lead {
    font-size: 3.125em;
    text-align: center;

    @include mq('sp') {
      font-size: 2.5em;
      text-align: left;
    }

    @include mq('small') {
      font-size: 1.5em;
    }
  }

  &__text {
    font-size: 1.75em;
    text-align: center;

    @include mq('sp') {
      text-align: left;
    }
    @include mq('small') {
      font-size: 1.125em;
      padding-top: 0.5em;
    }
  }

  &__price {
    text-align: center;
    margin: 1em auto;
    max-width: 35%;
    background-color: rgba(255,255,255,0.8);

    @include mq('sp') {
      max-width: 70%;
      text-align: left;
      margin: 0;
      padding-left: 0.5em;
    }
    @include mq('small') {
      max-width: 70%;
    }

    &-text {
      font-size: 1.375em;
      padding-top: .5em;
      padding-bottom: .5em;
      line-height: 38px;

      span {
        font-size: 1.7em;
      }

      @include mq('small') {
        font-size: 1em;
      }
    }
  }

}