.p-service {
  padding-top: 7.6em;
  padding-bottom: 7.6em;

  &__inner {
    background-color: $color-white;
    padding: 2em;

    &-narrow {
      width: 80%;
      margin: 0 auto;
    }

    &-narrow2 {
      width: 83%;
      margin: 5em auto 0;
    }
  }

  &__title {
    padding-top: 5em;
  }

  &__text {
    text-align: center;
    padding-top: 5em;
    font-size: 1.125em;
  }

  &__flex {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;

    &-item {
      background-image: url(./img/circle.svg);
      width: 325px;
      height: 325px;
      text-align: center;
      background-size: contain;
      padding-top: 2em;

      &:nth-of-type(2) {
        margin-top: 4em;
      }
    }

    &-lead {
      padding-top: 2em;
      text-align: center;
    }

    &-title {
      padding-top: 1.5em;
      font-size: 1.75em;
      display: inline-block;
      margin: 0 auto;
      position: relative;
      border-bottom: 1px solid $color-gold;


      &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid $color-gold;
        width: 100%;
        bottom: 2px;
      }
    }
  }

  &__description {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
  }

  &__set {
    padding-left: 3em;

    &-middle {
      padding-top: 1em;
    }

    &-title {
      font-size: 1.75em;
      font-weight: normal;
    }

    &-bottom {
      padding-top: 0.5em;
    }
  }

  &__list {

    &-item {
      font-size: 1.375em;
      padding-top: 0.1em;
    }
  }

  &__button {
    margin-top: 1em;
    padding: 12px 40px;
  }

}