.c-button {
    display:inline-block;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid $button-color;
    border-radius: 35px;
    padding: 15px 25px;
    position: relative;
    transition: 0.5s;

    @include mq('sp') {
        font-size: 1em;
        padding: 10px 20px; 
    }

    &:hover {
        box-shadow: none;
        background-color: $button-color;
        color: #fff;
        transition: 0.5s;
        background-size: contain;
    }

    &.-pplus {
        padding: 25px 50px;
        border-radius: 45px;
    }

    &.-staff {
        min-width: 330px;
        text-align: center;
        padding-right: 2.5em;
        position: relative;

        @include mq('sp') {
            margin-bottom: 1em;
            min-width: 280px;
        }

        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 40%;
            right: 30px;
            border-style: solid;
            border-width: 15px 10px 0 10px;
            border-color: $color-gold transparent transparent transparent;
            transition: 0.5s;
        }

        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: 40%;
            right: 30px;
            border-style: solid;
            border-width: 4px 10px 0 10px;
            border-color: $color-white transparent transparent transparent;
            z-index: 3;
            transition: 0.5s;
        }

        &:hover {
            &:after {
                border-color: $color-gold transparent transparent transparent;
                transition: 0.5s;
            }
            &:before {
                border-color: $color-white transparent transparent transparent;
                transition: 0.5s;
            }
        }

    }
}