.c-heading {
    font-size: 2.375em;
    position: relative;
    line-height: 38px;
    margin-left: 3em;

    @include mq('sp') {
        font-size: 1.5em;
        margin-left: 1.5em;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 88px;
        height: 2px;
        background-color: $color-gold;
        top: 25%;
        left: -10%;

        @include mq('sp') {
            width: 25px;
        }
    }

    &:after {
        position: relative;
        content: attr(title);
        display: block;
        font-family: $en-font2;
        font-size: 1.5rem;

        @include mq('sp') {
            font-size: 1.125rem;
        }
    }
}

.c-subheading {
    font-size: 1.5em;
    position: relative;
    padding-left: 1em;

    @include mq('sp') {
        font-size: 1.25em;
    }

    &:before {
        content: '◆';
        position: absolute;
        color: #b49e68;
        font-size: 1rem;
        top: 15%;
        left: 0%;
    }
}