.c-title {
  font-size: 2.375em;
  font-weight: bold;
  display: block;
  position: relative;

  @include mq('sp') {
      font-size: 1.5em;
      font-weight: bold;
  }

    &::before {
        content: attr(title);
        position:absolute;
        height: 100%;
        font-size: 6.875rem;
        font-weight: normal;
        font-family: $en-font;
        opacity: 0.1;
        bottom: 90px;

        @include mq('sp') {
            font-size: 4.375rem;
            bottom: 50px;
            font-weight: normal;
        }

        @include mq('small') {
            font-size: 2.1em;
            bottom: 30px;
            font-weight: normal;
        }
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../img/title_bg.svg);
        background-size: contain;
        width: 217px;
        height: 100%;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

}

.c-subtitle {
    position: relative;
    overflow: hidden;

    &:before {
        content:'';
        position: absolute;
        background: url(../img/about/title_before01.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        left: 0%;
        top: 52%;
        display: block;
        width: 42vw;
        height: 43px;

        @include mq('sp') {
            background: url(../img/sp/title_before.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 28vw;
            top: 60%;
        }
    }
    &:after {
        content:'';
        position: absolute;
        background: url(../img/about/title_after01.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        right: 0%;
        top: 52%;
        display: block;
        width: 42vw;
        height: 43px;

        @include mq('sp') {
            background: url(../img/sp/title_after.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 28vw;
            top: 60%;
        }
    }

    &.-privacy {
        &:before {
            width: 35vw;
            top: 57%;

            @include mq('sp') {
                top: 44%;
                width: 28vw;
            }
        }
        &:after {
            width: 35vw;
            top: 57%;

            @include mq('sp') {
                top: 44%;
                width: 28vw;
            }
        }
    }
}

.c-title02 {
    font-size: 2.375em;
    font-weight: bold;
    display: block;
    margin-top: 3em;
    position: relative;

    @include mq('sp') {
        font-size: 1.75em;
    }

    &::before {
        content: attr(title);
        position:absolute;
        height: 100%;
        font-size: 6.875rem;
        font-weight: normal;
        font-family: $en-font;
        opacity: 0.7;
        bottom: 120px;

        @include mq('sp') {
            font-size: 5rem;
            bottom: 90px;
        }
    }
    &::after {
        content: '';
        position: absolute;
        height: 120px;
        background-color: #ffeef2;
        width: 100%;
        z-index: -1;
        bottom: -10px;
    }

    &.-staff {
        margin-top: 3.3em;
        &::before {
            bottom: 140px;
        }
    }

    &.-privacy {
        margin-top: 3.3em;
        &::before {
            bottom: 142px;

            @include mq('sp') {
                bottom: 100px;
            }
        }
    }
}