.p-about {
    &__flex {
        display: flex;
        align-items:flex-end;
        margin-top: 2em;

        &-item {
            padding-right: 3em;

            &:last-of-type {
                padding-right: 0;
                padding-left: 3em;
            }
        }
    }

    &__title {
        font-size: 2.375em;
    }

    &__lead {

        &-top {
            padding-bottom: 3.5em;
        }

        &-text {
            font-size: 1.125em;
            line-height: 32px;
            padding-bottom: 1.25em;
        }
        &-name {
            font-size: 1.5em;
            text-align: right;
        }
    }
}