.p-bottom {
  background-color:rgba(180,158,104,0.9);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 20;

  &__wrapper {
    display: flex;

  }

  &__left {
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid $color-white;
    border-left: none;
  }

  &__right {
    width: 50%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 1px solid $color-white;
    border-right: none;
  }

  &__text {
    font-size: 0.75em;
    text-align: center;
    color: $color-white;

    &-strong {
      font-size: 1.125em;
    }
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;

    &.-mail {
      width: 40px;
    }

    img {
      width: 100%;
    }
  }

}