.p-card {

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 2em auto 5em;
    }
    &__item {
        background-color: $color-pink;
        width: 29%;
        padding: 0.5em 0;
        border-radius: 6px;
        margin-right: calc(13% / 2);

        @include mq('sp') {
            width: 100%;
            margin-bottom: 1em;
            margin-right: 0;
        }

        &:nth-of-type(3n){
            margin-right: 0;
        }

        &:nth-of-type(n + 4) {
            margin-top: 2.25em;

            @include mq('sp') {
                margin-top: 0;
            }
        }

        &-bg {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                display: block;
                width: 100%;
                height: 55px;
                top: 0px;
                z-index: 1;
                background-image: -webkit-linear-gradient(left, transparent, #fff 25%, #fff 75%, transparent);
                background-image: linear-gradient(to right, transparent, #fff 25%, #fff 75%, transparent);
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        &-title {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            position: relative;
            line-height: 38px;
            z-index: 10;

            &:before {
                content: '';
                position: absolute;
                text-align: center;
                width: 70%;
                display: block;
                margin: 0 auto;
                border-top: 1px solid $color-gold;
                left: 50%;
                transform: translateX(-50%);
            }
            &:after {
                content: '';
                position: absolute;
                text-align: center;
                width: 70%;
                display: block;
                margin: 0 auto;
                border-top: 1px solid $color-gold;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-top {
            text-align: center;

            img {
                width: 95%;
            }
        }

        &-bottom {
            padding-top: 0.3em;
        }

        &-text {
            padding-left: 3em;
            padding-right: 3em;
            padding-top: 1.5em;
            padding-bottom: 2em;

            @include mq('sp') {
                padding-top: 0.5em;
                padding-bottom: 1em;
            }
        }

        &-price {
            font-size: 1.5em;
            padding-bottom: 2em;
            text-align: center;

            span {
                font-size: 0.875rem;
            }

            @include mq('sp') {
                padding-bottom: 1em;
                font-size: 1.25em;
            }
        }
    }
}