.p-commitment {
    &__title {
        padding-bottom: 4em;
    }

    &__box {
        padding-top: 4em;
        padding-bottom: 4em;

        @include mq('sp') {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }

    &__wrap {

        &-img {
            width: 100%;
        }

        &.-secound {
            padding-left: 3em;

            @include mq('sp') {
                padding-left: 0;
            }
        }
    }

    &__lead {
        padding-top: 1.5em;
        padding-bottom: 0.8em;
        font-size: 2.375em;

        @include mq('sp') {
            font-size: 1.375em;
            padding-top: 0;
            text-align: center;
        }
    }
}