.p-column {
    background-color: rgb(255,238,242);
    background: linear-gradient(180deg, rgba(255,238,242,1) 0%, rgba(255,255,255,1) 50%);
    padding-top: 7.8em;
    padding-bottom: 5em;
    position: relative;
    overflow: hidden;

    @include mq('sp') {
        padding-top: 3em;
    }

    &:before {
        content: '';
        position: absolute;
        display: inline-block;
        background-image: url(../img/bg_animals01.png);
        background-position: bottom left;
        width: 580px;
        height: 580px;
        background-repeat: no-repeat;
        bottom: -13%;
        left: -5%;
        opacity: 0.5;

        @include mq('tab') {
            width: 350px;
            height: 350px;
            background-size: contain;
            bottom: -8%;
        }
        @include mq('sp') {
            width: 180px;
            height: 180px;
            background-size: cover;
            bottom: -4%;
        }

    }

    &:after {
        content: '';
        position: absolute;
        display: inline-block;
        background-image: url(../img/bg_animals02.png);
        background-position: bottom right;
        width: 580px;
        height: 580px;
        background-repeat: no-repeat;
        bottom: -17%;
        right: -5%;
        opacity: 0.5;

        @include mq('tab') {
            width: 350px;
            height: 350px;
            background-size: contain;
            bottom: -8%;
        }
        @include mq('sp') {
            width: 180px;
            height: 180px;
            background-size: cover;
            bottom: -4%;
        }
    }

    &__container {
        background-color: $color-white;
    }

    &__list {
        width: 85%;
        display: flex;
        justify-content: center;
        margin: 5em auto 3em;

        @include mq('sp') {
            margin: 2em auto 1em;
            flex-wrap: wrap;
            width: 90%;
            justify-content: flex-start;
        }

        &-item {
            width: 21%;  //21% * 4 = 84%
            margin-left: calc(16% / 3);
            position: relative;
            z-index: 20;
            transition: 0.5s;

            @include mq('sp') {
                width: 42%; //42 * 2 = 84 %
                margin-left: calc(8% / 2); //16% / 2 /2
                margin-right: calc(8% / 2); //16% / 2 /2
                padding-bottom: 2em;
            }

            &:hover {
                transform: translateY(-5px);
            }

            img {
                width: 100%;
            }

            &:first-of-type {
                margin-left: 0;

                @include mq('sp') {
                    margin-left: calc(8% / 2);
                }
            }

        }

        &-date {
            font-size: 1.75em;
            text-align: center;
            padding-top: 0.5em;
            padding-bottom: 0.5rem;

            @include mq('sp') {
                font-size: 1.25em;
            }
        }

        &-title {
            font-size: 1.125em;
            font-weight: normal;

            @include mq('sp') {
                font-size: 1em;
            }
        }
    }

}