.p-details {
    &__text {
        font-size: 1.125em;

        @include mq('sp') {
            font-size: 1em;
        }

        &-strong {
            font-size: 1.5em;
        }

        &-inline {
            font-size: 1.5em;
            position: relative;
            margin-top: 2em;
            padding-left: 2.3em;
            padding-bottom: 0.5em;

            &.-number {
                margin-top: 1.25em;
            }

            @include mq('sp') {
                font-size: 1.125em;
                margin-top: 1em;
            }

            &:before {
                content: '';
                width: 40px;
                height: 1px;
                position: absolute;
                background-color: #b49e68;
                background-position: center;
                top: 19px;
                left: 0;
                margin-right: 1em;

                @include mq('sp') {
                    top: 13px;
                    width: 25px;
                }
            }

            &.-smt {
                margin-top: 0.5em;
            }
        }

        &.-list {
            position: relative;
            &:before {
                content:'※';
                position: relative;
            }
        }

        &-small {
            font-size: 0.875rem;
        }
    }

    &__box {
        padding-left: 2em;

        @include mq('sp') {
            padding-left: 0;
        }
    }

    &__spacer {
        padding-top: 1em;
    }

    &__list {
        font-size: 1.125em;

        @include mq('sp') {
            font-size: 1em;
        }
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include mq('sp') {
            flex-wrap: wrap;
            justify-content: center;
        }

        &-item {
            display: block;
            max-width: 200px;
            width: 100%;

            @include mq('sp') {
                width: 47%;
                margin-bottom: 1em;
                &:nth-of-type(odd) {
                    margin-right: 5%;
                }
            }
        }
    }
}