.p-description {
    background-image: url('../img/staff/staff_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 751px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq('sp') {
        height: 800px;
        background-size: cover;
    }

    &__title {
        font-size: 2.375em;
        text-align: center;
        padding-top: 1em;

        @include mq('sp') {
            font-size: 1.5em;
            padding-bottom: 1em;
        }
    }

    &__wrap {
        &-text {
            text-align: center;
            font-size: 1.125em;
            margin-top: 1.9em;

            @include mq('sp') {
                margin-top: 0.5em;
                width: 90%;
                margin: 0 auto;
                text-align: left;
                font-size: 1em;
            }
        }
        
    }
}