.p-form {
    &__bg {
        background-color: $color-pink;
        padding: 1em;
        min-width: 100%;

        @include mq('sp') {
            padding: 0.5em;
        }

        &-title {
            font-size: 1.5em;
            padding: 0 1rem 1rem;
        }
        &-text {
            padding: 0 1em
        }
    }

    &__top {
        padding-top: 1.5em;

        &-text {
            font-size: 1.125em;
            text-align: center;

            @include mq('sp') {
                font-size: 1em;
            }
        }
    }

    &__middle {
        padding-top: 1.5em;

        &-text {
            font-size: 1.5em;
            text-align: center;

            @include mq('sp') {
                font-size: 1.125em;
            }
        }
    }

    &__bottom {
        padding-top: 1.5em;
        padding-bottom: 1.5em;

        @include mq('sp') {
            padding-top: 0;
        }

        &-bg {
            background-color: $color-white;
            width: 75%;
            margin: 0 auto;
            padding-top: 1em;
            padding-bottom: 1em;

            @include mq('sp') {
                width: 100%;
            }
        }

        &-time {
            font-size: 1.75em;
            text-align: center;

            @include mq('sp') {
                padding-left: 0;
                font-size: 1.125em;
                text-align: center;
            }
        }
        &-tel {
            font-size: 4.5em;
            line-height: 75px;
            text-align: center;
            position: relative;

            @include mq('sp') {
                font-size: 2em;
                padding-left: 0;
                text-align: center;
            }

            &:before {
                content: '';
                position: relative;
                background-image: url(../img/freecallicon.png);
                display: inline-block;
                background-repeat: no-repeat;
                background-size: contain;
                width: 80px;
                height: 48px;
                left: 3%;

                @include mq('sp') {
                    position: relative;
                    width: 45px;
                    height: 24px;
                    left: 5%;
                }
            }
        }
    }
    &__attention {
        padding-bottom: 2.5em;

        &-text {
            font-size:  1.125em;
            text-align: center;

            @include mq('sp') {
                font-size: 1em;
            }
        }
    }

    &__title {
        font-size: 1.5em;
        position: relative;

        &:before {
            content: '◆';
            position: relative;
            font-size: 0.8em;
            padding-right: 1em;
            color: $color-gold;
        }
    }

    &__must {
        position: relative;

        &:after {
            content:'必須';
            position: absolute;
            width: 50px;
            font-weight: bold;
            padding-left: 0.25em;
            font-size: 12px;
            color: #ff0101;
        }
    }
    &__any {
        position: relative;

        &:after {
            content:'任意';
            position: absolute;
            width: 50px;
            font-weight: bold;
            padding-left: 0.25em;
            font-size: 12px;
            color: #e3e3e3;
        }
    }

    &__flex {
        display: flex;
        width: 90%;
        margin: 0 auto;

        @include mq('sp') {
            display: block;
            width: 95%;
        }
    }

    &__left {
        width: 50%;
        @include mq('sp') {
            width: 100%;
            padding-bottom: 1.5em;
        }
    }

    &__right {
        width: 50%;
        @include mq('sp') {
            width: 100%;
        }
    }

    &__wrap {
        padding-top: 0.2em;
        padding-bottom: 1.5em;

        @include mq('sp') {
            padding-bottom: 1em;
        }
    }

    &__title {
        padding-bottom: 0.5em;
        margin-right: 1.5em;
    }

    &__annotation {
        font-size: 0.875em;
    }

    &__poscalmark {
        padding-right: 0.5em;
    }

    &__text {
        padding-top: 0.5em;
    }

    &__select {
        padding-left: 2em;
    }

    &__bottom {
        width: 90%;
        margin: 0 auto;

        @include mq('sp') {
            width: 95%;
        }
    }

    &__checkbox {
        text-align: center;
    }

    &__button {
        padding-top: 2em;
    }

    &__dateselect {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include mq('sp') {
            display: block;
        }
    }

    select {
        background-color: #ddd3bb;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        display: block;
        margin-top: 0.5em;
        width: 100%;
    }

    input {
        background-color: #ddd3bb;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        display: block;
        margin-top: 0.5em;
        width: 100%;
    }

    input[type="radio"] {
        display: inline-block;
        width: auto;
        margin-right: 0.25em;
    }

    input[name="poscal-code"] {
        width: 40%;
        display: inline-block;
    }
    input[name="checkbox"] {
        display: inline-block;
        width: 5%;
    }

    input[name="submitConfirm"],
    input[name="button__confirm"] {
        background-color: $color-gold;
        color: $color-white;
        font-size: 1.5em;
        width: auto;
        padding: 0.5em;
        margin: 0 auto;
        transition: 0.5s;
        box-sizing: border-box;

        &:hover {
            outline: 3px solid $color-gold;
            outline-offset: -3px;
            color: $color-gold;
            font-weight: bold;
            background-color: $color-white;
            transition: 0.5s;
        }
    }

    input[name="yourdate"],
    input[name="yourdate2"],
    input[name="yourdate3"],
    input[name="yourdate4"],
    input[name="yourdate02"],
    input[name="yourdate02_2"],
    input[name="yourdate02_3"],
    input[name="yourdate02_4"] {
        width: 43%;

        @include mq('sp') {
            width: 100%;
        }
    }
    select[name="yourtime"],
    select[name="yourtime2"],
    select[name="yourtime3"],
    select[name="yourtime4"], 
    select[name="yourtime02"],
    select[name="yourtime02_2"],
    select[name="yourtime02_3"],
    select[name="yourtime02_4"] {
        width: 43%;

        @include mq('sp') {
            width: 100%;
        }
    }

    input[name="submitBack"] {
        width: 80px;
        margin-bottom: 1em;
        background-color: gray;
        padding-left: 0;
        margin: 0 auto 1em;
        color: #fff;
    }

    textarea {
        background-color: #ddd3bb;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 1em;
        display: block;
        width: 100%;
        height: 23vh;
    }

    input:disabled {
        cursor: not-allowed;
    }

    input[type="checkbox"] {
        display: none;
    }

    &__checkmark {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        padding: 5px 30px;
        position: relative;
        width: auto;

        &:before {
            background: #fff;
            border: 1px solid #231815;
            content: '';
            display: block;
            height: 20px;
            left: 5px;
            margin-top: -22px;
            position: absolute;
            top: 50%;
            width: 20px;
        }

        &:after {
            border-right: 3px solid $color-gold;
            border-bottom: 3px solid $color-gold;
            content: '';
            display: block;
            height: 17px;
            left: 11px;
            margin-top: -22px;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
            width: 9px;
        }
    }
    input[type=checkbox]:checked + .p-form__checkmark::after {
        opacity: 1;
    }

    &__dropdown {
        position: relative;

        &:before {
            position: absolute;
            content: '▼';
            font-size: 0.75em;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            z-index: 10;
        }
    }
}

