.p-faq {
    &__wrap {
        padding-top: 2em;
        padding-bottom: 2em;
        @include mq('sp') {
            padding:0;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 5em;
        margin-bottom: 5em;

        @include mq('sp') {
            display: block;
            margin-top: 3em;
        }
    }

    &__border {
        position: relative;
        height: 100%;

        &:after {
            position: absolute;
            content: '';
            width: 2px;
            height: 90%;
            background-color: $color-gold;
            right: -10%;
            bottom: 10%;

            @include mq('sp') {
                width: 0px;
                
            }
        }
    }

    &__question {
        width: 35%;
        font-size: 1.25em;
        padding-right: 1em;
        text-align: right;
        position: relative;

        @include mq('sp') {
            width: 100%;
        }
        

        &:before {
            position: absolute;
            content: 'Q';
            font-size: 4em;
            color: $color-gold;
            opacity: 0.5;
            left: 0;
            bottom: 50%;

            @include mq('sp') {
                font-size: 2em;
            }
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 90%;
            height: 2px;
            background-color: $color-gold;
            background-position: center;
            text-align: center;
            bottom: -1em;
            left: 50%;
            transform: translateX(-50%);
        }

        &-text {
            padding-top: 2em;
        }
    }

    &__answer {
        width: 55%;
        font-size: 1.125em;
        padding-right: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        position: relative;

        @include mq('sp') {
            width: 100%;
            padding-bottom: 0;
            padding-top: 2em;
        }

        &:before {
            position: absolute;
            content: 'A';
            font-size: 4em;
            color: $color-gold;
            opacity: 0.5;
            left: -8%;
            bottom: 50%;

            @include mq('sp') {
                font-size: 2em;
                left: 0;
                top: 20px;
            }
        }

        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 90%;
            height: 2px;
            background-color: $color-gold;
            background-position: center;
            text-align: center;
            bottom: -1em;
            left: 50%;
            transform: translateX(-50%);
        }

        &-text {
            padding-top: 2em;
        }
    }

}