.p-information {
    &__wrapper {
        margin: 5em auto;
        background-position: center;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        border-top: 1px solid #7c5e41;
        border-bottom: 1px solid #7c5e41;
        position: relative;
        background-image: none;
        width: 100%;
        height: auto;
        margin: 3em auto;

        @include mq('pc') {
            background-image: url(../img/bg_information.svg);
            width: 1131px;
            height: 315px;
            padding-top: 2.5em;
            border: none;
            padding-bottom: 0;
        }

        @include mq('sp') {
            margin: 1em auto 3em;
        }
        &:before {
                position: absolute;
                content: '';
                width: 100%;
                border-top: 4px solid #7c5e41;
                top: -10px;

                @include mq('pc') {
                    border: none;
                }
        }
        &:after {
                position: absolute;
                content: '';
                width: 100%;
                border-top: 4px solid #7c5e41;
                bottom: -10px;

                @include mq('pc') {
                    border: none;
                }
        }
    }

    &__line {
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        padding-bottom: 0.8em;
        padding-top: 1em;

        @include mq('pc') {
            width: 83%;
        }

        @include mq('sp') {
            display: block;
            width: 95%;
            padding-top: 1.5em;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    &__date {
        padding-right: 1em;

        @include mq('sp') {
            display: inline-block;
        }
    }

    &__tag {
        margin-right: 1em;
        background-color: $color-gold;
        display: inline-block;
        padding: 0 10px;
        border-radius: 30px;
        color: $color-white;

        p {
            min-width: 68px;
        }

        @include mq('sp') {
            display: inline-block;
        }
    }

    &__title{
        overflow: hidden;
        white-space: nowrap;

        @include mq('sp') {
            white-space: normal;
            overflow: visible;
        }
        
        h3 {
            font-size: 1.125em;
            font-weight: normal;
        }
    }

    &__button {
        margin-bottom: 2.5em;
        padding: 15px 30px;
    }



}