.p-information {
    &__wrapper {
        margin: 5em auto;
        background-position: center;
        // width: 1131px;
        // height: 315px;
        padding-top: 2.5em;
        border-top: 1px solid #7c5e41;
        border-bottom: 1px solid #7c5e41;

        @include mq('pc') {
            background-image: url(../img/bg_information.svg);
            width: 1131px;
            height: 315px;
            border: none;
        }

        @include mq('sp') {
            position: relative;
            background-image: none;
            width: 100%;
            height: auto;
            padding-top: 15px;
            padding-bottom: 20px;

            margin: 3em auto;
        }

        &:before {
            @include mq('sp') {
                position: absolute;
                content: '';
                width: 100%;
                border-top: 4px solid #7c5e41;
                top: -10px;
            }
        }
        &:after {
            @include mq('sp') {
                position: absolute;
                content: '';
                width: 100%;
                border-top: 4px solid #7c5e41;
                bottom: -10px;
            }
        }
    }

    &__line {
        display: flex;
        align-items: center;
        width: 83%;
        margin: 0 auto;
        padding-bottom: 0.8em;
        padding-top: 1em;

        @include mq('sp') {
            display: block;
            width: 95%;
            padding-top: 1.5em;
        }

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    &__date {
        padding-right: 1em;

        @include mq('sp') {
            display: inline-block;
        }
    }

    &__tag {
        margin-right: 1em;
        background-color: $color-gold;
        display: inline-block;
        padding: 0 10px;
        border-radius: 30px;
        color: $color-white;

        @include mq('sp') {
            display: inline-block;
        }
    }

    &__title{
        overflow: hidden;
        white-space: nowrap;

        @include mq('sp') {
            white-space: normal;
            overflow: visible;
        }
        
        h3 {
            font-size: 1.125em;
            font-weight: normal;
        }
    }

    &__button {
        margin-bottom: 2.5em;
        padding: 15px 30px;
    }



}