.p-privacy {
    &__container {
            @include mq('pc') {
                width: 90%;
            }
        margin: 2em auto 2em;
        width: 85%;

        @include mq('sp') {
            margin: 1em auto 1em;
            width: 100%;
        }
    }

    &__title {
        font-size: 1.5em;
        position: relative;

        @include mq('sp') {
            font-size: 1.25em;
            padding-left: 0.75em;
        }

        &:before {
            content:'◆';
            position: absolute;
            color: $color-gold;
            font-size: 1rem;
            top: 15%;
            left: -2.5%;

            @include mq('sp') {
                top: 12%;
            }
        }
    }

    &__text {
        font-size: 1.125em;
        padding-top: 0.3em;

        @include mq('sp') {
            font-size: 1em;
        }

        &-inline {
            position: relative;
            padding-left: 2em;
            padding-bottom: 0.3em;

            &:before {
                content: '';
                width: 30px;
                height: 1px;
                position: absolute;
                background-color: $color-gold;
                background-position: center;
                top: 15px;
                left: -10px;
                margin-right: 1em;
            }

            &.-noborder {
                padding-top: 1em;
                &:before {
                    height: 0;
                }
            }
        }
    }
}