.p-service {
  padding-top: 7.6em;
  padding-bottom: 7.6em;

  @include mq('sp') {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  &__inner {
    background-color: $color-white;
    padding: 2em;

    @include mq('sp') {
      padding: 0.5em;
    }

    &-narrow {
      width: 80%;
      margin: 0 auto;

      @include mq('sp') {
        width: 100%;
      }
    }

    &-narrow2 {
      width: 100%;
      
      @include mq('pc') {
        width: 83%;
        margin: 5em auto 0;
      }

      @include mq('sp') {
        width: 100%;
        margin: 3em auto 0;
      }
    }
  }

  &__title {
    padding-top: 5em;
  }

  &__text {
    text-align: center;
    padding-top: 5em;
    font-size: 1.125em;

    @include mq('sp') {
      font-size: 1em;
      padding-top: 2.5em;
    }
  }

  &__flex {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;

    &.-sp {
      @include mq('sp') {
        display: block;
      }
    }

    &-item {
      background-image: url(../img/circle.svg);
      width: 325px;
      height: 325px;
      text-align: center;
      background-size: contain;
      padding-top: 2em;

      &.-sp {
        margin: 0 auto;
        width: 240px;
        height: 240px;
        background-position: center;
        padding-top: 4em;

        @include mq('small') {
          padding-top: 4.5em;
        }

        &:first-of-type {
          @include mq('small') {
            margin-bottom: -80px;
          }
        }

        @include mq('small') {
          width: 45%;
        }
      }


      &:nth-of-type(2) {
        margin-top: 4em;

        @include mq('sp') {
          margin-top: 0;
        }
      }
    }

    &-lead {
      padding-top: 2em;
      text-align: center;

      @include mq('tab') {
        padding-top: 1em;
      }
      @include mq('sp') {
        padding-top: 0.3em;
        font-size: 0.875em;
      }
      @include mq('small') {
        font-size: 0.75em;
      }
    }

    &-title {
      padding-top: 1.5em;
      font-size: 1.75em;
      display: inline-block;
      margin: 0 auto;
      position: relative;
      border-bottom: 1px solid $color-gold;

      @include mq('tab') {
        font-size: 1.5em;
        padding-top: 0.5em;
      }
      @include mq('sp') {
        font-size: 1.25em;
        padding-top: 0.5em;
        font-weight: normal;
      }

      @include mq('small') {
        font-size: 1em;
      }


      &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid $color-gold;
        width: 100%;
        bottom: 2px;
      }
    }
  }

  &__description {
    display: flex;
    justify-content: center;
    padding-bottom: 3em;

    @include mq('sp') {
      display: block;
    }

    &-item {
      @include mq('pc') {
        padding: 0 2em;
      }

      img {
        @include mq('sp') {
          width: 100%;
        }
      }
    }
  }

  &__set {
    padding-left: 3em;

    @include mq('sp') {
      padding-left: 0;
    }

    &-top {
      @include mq('sp') {
        padding-top: 1em;;
      }
    }

    &-middle {
      padding-top: 1em;
    }

    &-title {
      font-size: 1.75em;
      font-weight: normal;

      @include mq('sp') {
        font-size: 1.375em;
      }
    }

    &-bottom {
      padding-top: 0.5em;

      @include mq('sp') {
        padding-top: 1em;
      }
    }

    &-action {
      @include mq('sp') {
        text-align: center;
        padding-top: 2em;
      }
    }
  }

  &__list {

    &-item {
      font-size: 1.375em;
      padding-top: 0.1em;

      @include mq('sp') {
        font-size: 1em;
      }
    }
  }

  &__button {
    margin-top: 1em;
    padding: 12px 40px;

    @include mq('sp') {
      text-align: center;
      margin: 0 auto;
      padding: 7px 30px;
    }
  }

  &__sp {
    &-flex {
      @include mq('sp') {
        display: flex;;
      }
    }
  }

}