.p-staff {
    &__nav {
        display: flex;
        justify-content: space-between;

        @include mq('sp') {
            display: block;
            text-align: center;
        }
    }

    &__wrapper {
        margin-top: 5em;

        @include mq('sp') {
            margin-top: 2.5em;
        }
    }

    &__flex {
        display: flex;
        align-items: center;
        margin-top: 3em;
        margin-bottom: 3em;

        @include mq('sp') {
            display: block;
        }

        &-item {
            &:first-of-type{
                padding-right: 3.5em;

                @include mq('sp') {
                    padding-right: 0;;
                }
            }

            img {
                @include mq('sp') {
                    width: 100%;
                }
            }
        }
    }

    &__right {
        margin-top: -2em;

        @include mq('sp') {
            margin-top: 0;
        }
    }

    &__text {
        font-size: 1.125em;
        padding-top: 1em;

        @include mq('sp') {
            font-size: 1em;
        }

        &-right {
            text-align: right;
            padding-top: 1.5em;
        }
    }

}