.p-table {
    &__text {
        font-size: 1.5em;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;

        &-small {
            font-size: 0.75em;
        }
    }

    &__table {
        width: 100%;
        margin: 0 auto 3em;
        border-collapse: collapse;

        th {
            border-top: 1px solid $color-gold;
            padding-top: 1em;
            padding-bottom: 1em;
            vertical-align: top;
            font-size: 1.5em;
            height: 150px;
            width: 33.333%;

            &:first-child {
                border-top: 4px solid $color-gold;
            }
            
            &.noborder {
                border-top: none;
            }

            &.p-table__table-text {
                font-size: 1.125rem;
            }
        }

        &-list {
            width: 85%;
            text-align: left;
            margin: 0 auto;
            li {
                font-size: 1.125rem;
            }
        }


        img {
            padding-top: 0.5em;
        }

    }
}