.p-table {
    &__text {
        font-size: 1.5em;
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;

        @include mq('sp') {
            font-size: 0.85em;
        }

        &-small {
            font-size: 0.75em;
        }
    }

    &__table {
        width: 100%;
        margin: 0 auto 3em;
        border-collapse: collapse;

        @include mq('sp') {
            border-collapse: separate;
        }

        th {
            border-top: 1px solid $color-gold;
            padding-top: 1em;
            padding-bottom: 1em;
            vertical-align: top;
            font-size: 1.5em;
            height: 150px;
            width: 33.333%;

            @include mq('sp') {
                font-size: 1em;
                height: auto;
                width: 100%;
            }

            &:first-child {
                border-top: 4px solid $color-gold;
                @include mq('sp') {
                    border-top: 1px solid $color-gold;
                }
            }
            
            &.noborder {
                border-top: none;
            }

            &.p-table__table-text {
                font-size: 1.125rem;

                @include mq('sp') {
                    font-size: 0.85rem;
                }
            }
        }

        &-list {
            width: 85%;
            text-align: left;
            margin: 0 auto;
            li {
                font-size: 1.125rem;

                @include mq('sp') {
                    font-size: 0.85rem;
                }
            }
        }


        img {
            padding-top: 0.5em;

            @include mq('sp') {
                width: 90%;
            }
        }
    }
    &__scroll {
        overflow: auto;
        white-space: nowrap;
    }

    &__sp {
        &-course {
            font-size: 1.25em;
            text-align: center;
            border-top: 1px solid $color-gold;
            border-bottom: 3px solid $color-gold;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        &-wrap {
            display: flex;
            margin-bottom: 1em;
            border-top: 1px solid $color-gold;

            &:last-of-type {
                padding-bottom: 1em;
                margin-bottom: 5em;
                border-bottom: 1px solid $color-gold;
            }
        }

        &-title {
            width: 40%;
            padding-top: 1em;

        }
        &-lead {
            width: 60%;
            padding-top: 1em;
        }
        &-img {
            img {
                width: 100%;
            }
        }
        &-text {
            font-size: 1em;
            text-align: center;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }
    }
}